* {
	box-sizing: border-box;
}

body {
	font-family: "Helvetica", sans-serif;
	background-color: #F3F3F3;
}

a, a:visited {
	text-decoration: none;
	color: #000000;
}

li { list-style-type: none }

button {
	cursor: pointer;
	user-select: none;
}

::-webkit-scrollbar {
	width: 0px;
}

input {
	width: 280px;
}

table {
	table-layout: fixed;
}

hr { width: 100%; }

.user-select-none {
	user-select: none;
}

.scroll-lock {
	margin: 0;
	height: 100%;
	overflow: hidden;
	user-select: none;
}

.army-dropdown-section {
	user-select: none;
}

.main-title-box {
	background-color: #A41F26;
	border-radius: 6px;
	overflow: hidden;
	margin-bottom: 10px;
	border: 1px solid #000000;
}

.main-title {
	text-align: center; 
	user-select: none;
	color: #FFFFFF;
	margin-bottom: -1px;
}

.copyright-notice {
	text-align: center;
	font-size: 70%;
	margin: -9px 0px 0.5px 0px;
	user-select: none;
}

.align-left {
	text-align: left;
}

.hidden {
	visibility: hidden;
}

.bold {
	font-weight: bold;
}

.pastel-red {
	color: #FF5349;
}

.sections-container {
	margin: 20px 20px 20px 20px;
}

.check-box { margin: 5px 0px 5px 170px; }

.admin-display-box {
	margin-top: 20px;
	padding: 10px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.navigation-box {
	display: inline-flex;
}

.admin-link, .static-link {
	border: 1px solid #000000;
	padding: 10px;
	width: 149.4px;
	cursor: pointer;
	user-select: none;
}

.selected-link {
	background-color: #D3D3D3;
}

.display-box {
	border: 1px solid #000000;
	margin: 15px 0px 15px 0px;
	padding: 10px;
	display: inline-block;
	text-indent: -37px;
	padding-left: 50px;
}

.error-div {
	font-style: italic;
	font-size: small;
	opacity: 0.5;
	margin-bottom: 10px;
}

.success-div {
	margin-bottom: 15px;
}

.delete-x {
	user-select: none;
	border: 1px solid #000000;
	margin-right: 25px;
	cursor: pointer;
}

.dropdown {
	cursor: pointer;
	width: 118.5px;
	width: 286px;
}

.react-select {
	user-select: none;
	border: 1px solid #000000;
}

.react-select-bar {

}

.everything-after-army-dropdown {
	width: 100%;
	display: inline-block;
}

.clear-list-div {
	margin: 20px 0px 20px 0px;
	user-select: none;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.clear-or-cancel-label {
	cursor: pointer;
	padding: 9.3px;
	margin: 0px 1px 0px 1px;
}

.clear-or-cancel-label:hover {
	border: 1px solid #000000;
	background-color: #FFFFFF;
}

.unit-entry-button-title-bar {
	border-radius: 6px;
	background-color: #A41F26;
	color: #FFFFFF;
	border: 1px solid #000000;
}

.unit-entry-button-title {
	text-align: center;
	margin-bottom: -0.5px;
}

.unit-entry-buttons {
	user-select: none;
	line-height: 120%;
	border: 1px solid #000000;
	background-color: #FFFFFF;
	padding: 5px 5px 20px 5px;
	width: 49.5%;
	border-radius: 6px;
	float: left;
	overflow: hidden;
	height: fit-content;
}

.unit-entry-buttons:active {
	overflow: none;
}

.unit-entry-button {

}

.unit-entry-button-label {
	padding: 2px 0px 2px 0px;
}

.unit-entry-button-label:hover {
	cursor: pointer;
	background-color: #D3D3D3;
}

.list-output-side {
	border: 1px solid #000000;
	background-color: #FFFFFF;
	padding: 5px 5px 20px 5px;
	width: 49.5%;
	border-radius: 6px;
	float: right;
	overflow: hidden;
	height: fit-content;
}

.list-output-side-blank {
	border: 1px solid #000000;
	background-color: #FFFFFF;
	padding: 5px 5px 20px 5px;
	width: 49.5%;
	border-radius: 6px;
	float: right;
	overflow: hidden;
	height: 145px;
}

.list-title-bar {
	border-radius: 6px;
	background-color: #A41F26;
	color: #FFFFFF;
	border: 1px solid #000000;
}

.list-title {
	text-align: center;
	margin-bottom: -0.5px;
}

.point-total {
	text-align: center;
	margin: 20px 0px 7px 0px;
	overflow-wrap: all;
}

.list-entry-including-icons {

}

.list-icons {
	user-select: none;
	width: 100%;
}

.cog {
	cursor: pointer;
}

.cog:hover {
	background-color: #D3D3D3;
	padding-bottom: 1px;
}

.cog:active {

}

.vase {
	cursor: pointer;
	padding-bottom: 1px;

}

.vase:hover {
	background-color: #D3D3D3;
}

.vase:active {

}

.removed-cog {
	visibility: hidden;
	width: 20px;
	height: 20px;
	display: inline-block;
}

.removed-vase {
	visibility: hidden;
	width: 20px;
	height: 20px;
	display: inline-block;
}

.white-square {
	visibility: hidden;
	width: 10px;
	height: 20px;
	display: inline-block;
	user-select: none;
}

.white-square-formatted {
	visibility: hidden;
	width: 10px;
	height: 12px;
	display: inline-block;
	user-select: none;	
}

.white-square-formatted-2 {
	visibility: hidden;
	width: 12px;
	height: 12px;
	display: inline-block;
	user-select: none;	
}

.list-entry {

}

.list-entry-label {
	cursor: crosshair;
	color: #A41F26;
	font-weight: bolder;
	position: relative;
}

.unit-option-entry-label {
	cursor: crosshair;
	font-style: italic;
}

.unit-option-entry-label:hover {

}

.unit-option-selection-tile {
	margin: 30px 0px 30px 0px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	user-select: none;
	background-color: #FFFFFF;
	border: 1px solid #000000;
	border-radius: 6px;
	padding: 10px 10px 20px 10px;
	width: fit-content;
}

.unit-option-title {
	color: #A41F26;
	font-weight: bolder;
}

.artefact-selection-tile {
	margin: 30px 0px 30px 0px;
	padding: 10px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	user-select: none;
	background-color: #FFFFFF;
	border: 1px solid #000000;
	border-radius: 6px;
	padding: 10px 10px 20px 10px;
	width: fit-content;
}

.artefact-title {
	color: #A41F26;
	font-weight: bolder;
}

.unit-option-selection-label {
	cursor: pointer;
	padding: 3px;
}

.unit-option-selection-label:hover {

}

.unit-option-selection-label:active {

}

.artefact-selection-label {
	cursor: pointer;
	padding: 3px;
}

.artefact-selection-label:hover {
	background-color: #D3D3D3;
}

.artefact-selection-label:active {

}

.highlighted-unit-option {
	background-color: #D3D3D3;	
}

.unit-options-on-list {

}

.view-list-button-div {
	user-select: none;
	text-align: center;
}

.view-list-button {
	cursor: pointer;
	text-align: center;
	padding: 9.3px;
}

.view-list-button:hover {
	border: 1px solid #000000;
	background-color: #FFFFFF;
}

.formatted-list-modal {
	height: 80%;
	width: 95%;
	background-color: #FFFFFF;
    overflow-y: auto;
    position: absolute;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%) !important;
}

.formatted-list-box {
	padding: 20px;
}

.formatted-list-header {
	line-height: 113%;
}

.formatted-list-buttons {
	text-align: center;
}

.formatted-list-button {
	user-select: none;
	cursor: pointer;
	padding: 9.3px;
}

.formatted-list-button:hover {
	border: 1px solid #000000;
	position: relative;
}

.formatted-list-entry {
	line-height: 94%;
}

@media screen {
  	#printSection {
      	display: none;
  	}
}

@media print {
	body * {
		visibility: hidden;
	}
	#printSection, #printSection * {
		visibility: visible;
	}
	#printSection {
		position: absolute;
		left: 0;
		top: 0;
	}
}

.army-tile { margin: 5px 0px 5px 0px; }

.unit-tile, .tile { margin: 5px 0px 5px 0px; }

.button-group { margin-top: 10px; }

.army-name-field { margin: 5px 0px 5px 28.5px; }

.army-name-dropdown { margin: 5px 0px 5px 34px; }

.army-alignment-dropdown { margin: 5px 0px 5px 0px; }

.unit-name-field { margin: 5px 0px 5px 57px; }

.unit-name-dropdown { margin: 5px 0px 5px 71.5px; }

.unit-size-field { margin: 5px 0px 5px 69.5px; }

.unit-type-field { margin: 5px 0px 5px 65.5px; }

.unit-type-index-field { margin: 5px 0px 5px 22.5px; }

.unit-speed-field { margin: 5px 0px 5px 47px; }

.unit-melee-field { margin: 5px 0px 5px 50px; }

.unit-ranged-field { margin: 5px 0px 5px 37.5px; }

.unit-defense-field { margin: 5px 0px 5px 34px; }

.unit-attacks-field { margin: 5px 0px 5px 41px; }

.unit-strength-field { margin: 5px 0px 5px 7.7px; }

.unit-limited-n-field { margin: 5px 0px 5px 24.7px; }

.unit-points-field { margin: 5px 0px 5px 56.5px; }

.unit-army-dropdown { margin: 5px 0px 5px 63px; }

.artefact-name-field { margin: 5px 0px 5px 57px; }

.artefact-name-dropdown { margin: 5px 0px 5px 45px; }

.artefact-display-name-field { margin: 5px 0px 5px 0px; }

.artefact-is-heroic-checkbox { margin: 5px 0px 5px 0px; }

.artefact-points-field { margin: 5px 0px 5px 55px; }

.unit-option-name-field { margin: 5px 0px 5px 56.5px; }

.unit-option-name-dropdown { margin: 5px 0px 5px 19.5px; }

.unit-option-display-name-field { margin: 5px 0px 5px 0px; }

.unit-option-is-spell-checkbox { margin: 5px 0px 5px 0px; }

.unit-option-is-unique-spell-checkbox { margin: 5px 0px 5px 0px; }

.unit-option-points-field { margin: 5px 0px 5px 55px; }

.username-field { margin: 5px 0px 5px 90.5px; }

.email-field { margin: 5px 0px 5px 61px; }

.email-confirmation-field { margin: 5px 0px 5px 0px; }

.password-field { margin: 5px 0px 5px 94px; }

.password-confirmation-field { margin: 5px 0px 5px 33px; }

.current-password-field { margin: 5px 0px 5px 0px; }

.new-password-field { margin: 5px 0px 5px 0px; }

.new-password-confirmation-field { margin: 5px 0px 5px 0px; }




